@use "./styles/global"


/* :root {
  --bg-primary: #080b12;
  --bg-secondary: #0f131d;
  --bg-card: #151a26;

  --primary: #7c3aed;
  --primary-light: #a855f7;
  --primary-dark: #5b21b6;

  --accent: #f59e0b;

  --text-primary: #f5f7fb;
  --text-secondary: #9ca3af;

  --border: #222838;

  --danger: #ef4444;
  --success: #22c55e;
} */